// Colores base (coinciden con Tailwind extend)
$primary-color: #3e1584;
$secondary-color: #cc5e0c;
$background-color: #ffffff;
$text-color: #171717;

// Fuentes
$font-main: 'Montserrat', sans-serif;
$font-mono: 'DM Sans', monospace;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;