@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #171717;
  --color-primary: #226499;
  --color-secondary: #E7A404;
  --color-muted: #6b7280
  --font-main: 'Montserrat', sans-serif;
}

@layer utilities {
  .text-primary     { color: var(--color-primary); }
  .text-secondary   { color: var(--color-secondary); }
  .text-muted   { color: var(--color-muted); }

  .bg-primary       { background-color: var(--color-primary); }
  .bg-secondary     { background-color: var(--color-secondary); }

  .font-main        { font-family: var(--font-main); }

  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fade-in {
    animation: fade-in 5s ease-out;
  }

  .hover\:bg-secondary:hover {
    background-color: var(--color-secondary);
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}